@media(max-width: 800px)
{
    .content-champoins-of-customer-service {
        flex-wrap: wrap;
    }
    .content-champoins-of-customer-service {
        min-width: 300px;
    }
}
@media (max-width: 380px){
    .buttons-discription-hampoins-of-customer-service {
        flex-direction: column;
    } 
}

@media(max-width:1112px) {
    .burger-menu {
        display: flex;
    }

    .links-button{
        display: none;
    }
}