h1,h2,h3,h4,p, a{
    margin-block: 0;
}
#logo-zendesk {
    width: 75px;
    height: 65px;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    color: #03363D;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}
.content-links-1 {
    width: 67px;}
.content-links-2 {
    width: 50px;}
.content-links-3 {
    width: 65px;}
.content-links-4 {
    width: 43px;}
.content-links-5 {
    width: 62px;}
.content-links-6 {
    width: 76px;    }
#get-sterted {
    background-color: rgba(23, 73, 77, 1);
    width: 150px;
    height: 46px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}
.champoins-of-customer-service-section {
    background: #17494D;
}
.text-content-CHAMPIONS_OF_CUSTOMER_SERVICE{
    color: white;
    font-family: Roboto;
    font-size: 77px;
    font-style: normal;
    font-weight: 700;
    line-height: 97px;
    min-width:   470px;
    height: 294px;
}

.text-champions {
    color: #CE9FB7;
} 
.text-customer {
    color: #00A656;
}
.text-service {
    color: #30AABC;
}
.text-discription-hampoins-of-customer-service {
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.button-free-trial {
    width: 130px;
    height: 52px;
    border: 2px solid #FF6224;
    background: #FF6224;
    color: #FFF;

    text-align: center; 
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.button-view-demo {
    width: 147px;
    height: 52px;
    border: 2px solid #FF6224;
    background-color: transparent; /* Прозрачный фон */

    color: #FF6224;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
#section-go-all-in-on-messaging {
    background: #FED6A8;
}
.text-h2-go-all-in-on-messaging {
    color: #03363D;
    font-family: Roboto;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px
}
.text-p-go-all-in-on-messaging {
    color: #17494D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.link-watch-video {
    color: #03363D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-decoration: underline;
}
.link-get-the-details {
    color: #03363D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-decoration: underline;

}
.title-text-where-good-conversations h2{
    color: #03363D;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; 
}

.title-text-where-good-conversations p{
    color: #03363D;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.divisions-pasive{
    color: #68737D;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
.divisions-active {
    color: #03363D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;
}
.right-where-good-conversations h3{
    color: #03363D;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.right-where-good-conversations p{
    color: #17494D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.right-where-good-conversations a{
    color: #03363D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}