.color-h1.dark-theme {
    color: #FFF;

}
.p-style.dark-theme {
    color: #FFF;

}
.section-this-is-zendesk.dark-theme {
    background: #FF8C00;
}
.h2-text-size-big.dark-theme{
    color: #FFF;
}
.text-p-we-have-job.dark-theme {
    color: #FFF;
}
.box-we-have-job.dark-theme {
    border-radius: 8px;
background: #8C8C8C;
}