.title-text-where-good-conversations h2.dark-theme {
    color: #fff;
}
.title-text-where-good-conversations p.dark-theme {
    color: #fff;
}
.divisions-active.dark-theme {
    color: #fff;
}
.divisions-pasive.dark-theme {
    color: #fff;
}
.right-where-good-conversations h3.dark-theme {
    color: #fff;
}
.right-where-good-conversations p.dark-theme {
    color: #fff;
}
.right-where-good-conversations a.dark-theme {
    color: #fff;
}
.line-SQUARESPACE.dark-theme {
    background-color: #fff;
}

.section-the-best-customer.dark-theme  {
    background-color:#FF8C00;
}
.right-content-the-best-customer h2.dark-theme{
    color: #fff;
}
.right-content-the-best-customer p.dark-theme {
    color: #fff;
}
.right-content-the-best-customer a.dark-theme {
    color: #fff;
}

.section-theres-more-where-that-came-from.dark-theme{
    background-color: #8C8C8C;
}
.content-theres-more-where-that-came-from h2.dark-theme {
    color: #fff;
}
.content-box-theres-more-where-that-came-from p.dark-theme {
    color: #fff;
}
.line-theres-more-where-that-came-from.dark-theme  {
 background-color: white;
}


.section-champions-of-awesome-free-trials.dark-theme {
background-color: #2C3E50;
}
.section-champions-of-awesome-free-trials h3.dark-theme  {
color: #fff;
}