.h4-upper.dark-theme {
    color: #FFF;
}
.quick-links-section.dark-theme {
    background: #455A64;
}
.content-box-links.dark-theme {
    background: #4CAF50;
}
.h2-text-title-links.dark-theme {
    color: #FF8C00;
}
.a-link-box.dark-theme {
    color: #FFF;

}



.h2-text-size-big.dark-theme {
    color: #FFF;

}
.button-explore-all.dark-theme {
    color: #FFF;

}
.h3-color.dark-theme {
    color: #FFF;

}
.text-content-this-is-zendesk.dark-theme {
    color: #FFF;

}